

.payment-container{

            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            width: 350px;
           box-sizing: border-box;
          
             justify-content: center; 
            align-items: center;    
            display: block;
            margin: auto;
            margin-bottom: 20px;
           
}

.payment-container h4{
    color: #333;
    font-size: 22px;
    
    text-align: center;
     margin-top: 0;
    margin-bottom: 10px; 
    padding-bottom:2px;
    border-bottom: 2px solid #4285f4;
}

.card-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-bottom: 20px;
}
.card-icons img{
    
    width: 50px;
    height: auto;
    display: flex;
    
}
.payment-button button{
    width: 60%;
    padding: 6px;
    background-color: #196bef;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

.payment-button button:hover{
    background-color: #0a74de;
}   








.card-details label{
    /* display: block; */
    margin-bottom: 2px;
    font-size: 12.5px;
    
    padding-right: 100%;
    white-space: nowrap;


}








